# =========================
# 🧩 Java / Spring Boot
# =========================
*.class
*.jar
*.war
*.ear

# Build output
/target/
!/src/main/resources/static/
/out/
/build/

# Logs e relatórios
*.log
*.tmp
*.bak
*.swp
*.swo
hs_err_pid*
replay_pid*

# =========================
# ⚙️ Maven
# =========================
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# =========================
# 🧠 IntelliJ IDEA / Eclipse / VS Code
# =========================
.idea/
*.iml
*.ipr
*.iws
.vscode/
.project
.classpath
.settings/

# =========================
# 🔒 Credenciais / Configurações locais
# =========================
*.env
application-*.yml
application-*.properties
# Mantém o arquivo base vazio, se quiser:
!application.yml

# =========================
# 🧰 SO e temporários
# =========================
.DS_Store
Thumbs.db
*.orig
*.rej
*~
# =========================